<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div class="row">
  <div class="col-xs-9 col-sm-9">
  <br />
    <div class="pull-right">
      <% link_to "Profile Search", profiles_path, class: 'btn btn-default btn-lg btn-warning', "data-no-turbolink"=>"true" %>
    </div>
  </div>
</div>

<!--
 form_for(phase) do |f| %>


<hidden="true">
 f.submit "Send", :class=> "btn btn-info btn-sm" %>
button_to "Acknowledged", { :controller => 'messgs', :action => "sendcustom", :id => @messg.id}


 f.submit(:class=> "btn btn-info btn-lg", :id => "hiddensubmit#{phase.id}", :style => "visibility:hidden") %>
 end %>

-->
<div class="row">
  <div class="col-xs-6 col-sm-6"><BR />
    <p>My Money: <input type="text" id="mymoney"></p>
  </div>
  <div class="col-xs-6 col-sm-6">
    <img alt="Good" height="57" id="goodimg" src="/assets/good.png" style="padding:2px" width="57">

    <img alt="Bad" height="57" id="badimg" src="/assets/bad.png" style="padding:2px" width="57">
  </div>
</div>

<!--<html>
  <head>-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(load_page_data);



  	  JORDANS_APP = {};

  	  JORDANS_APP.getChunck = function() {
        //if not in a buy chunck 50 otherwise chunck by win or loss
        var $tempdata = [];
        var $chart_array = [];
        var $x = 0;

        while($x < 51){
          $tempdata.push($containdata.shift());
          $x++;
        }
        $.each($tempdata, function(i, price) {
          if(price) {
            $chart_array.push(['day', price.low, price.close, price.open, price.high]);
          }
        });
        return $chart_array;
  	  };




  	  JORDANS_APP.drawSegment = function(chartData, index) { //gets data to draw
        $growchart = [];
        if(index < chartData.length+1){
    			setTimeout( function(){
            //firstchart = chartData.slice(0,index);
            //secondchart = chartData.slice(0,index)
            $.each(chartData, function(i, p){
              if(i<= index){
                $growchart.push(p);
              }
              else {
                $growchart.push(chartData[index]);
              }
            });
            //alert()
            drawChart($growchart);//chartData.slice(0,index));
    				index++;
    				JORDANS_APP.drawSegment(chartData, index);
    			}, 1);
    		}
      };


      function load_page_data(){

        var $prices = $('#orders');
        var $mymoney = 2500;
        var $name = "";//$('#name');
        var $last_id = 0;//$('#last_id');
        var $chart_array = [];
        var $tempdata = [];
        var $x = 0;

        var $containdata = [];
        var $startingcounter = 0;

        var $prevevent;
        var $interumlow = 10000.0;
        var $interumhigh = -10000.0;

        var $need = 500;

        var $chartlength = 30;//30

        var $shortme = true;

        var $oldclose = 0;
        var $percentage = .1;
        var $leverage = 50;

        $.ajax({
          type: 'GET',
          url: '/orders',
          success: function(prices) {
      		  //put months data in containdata
            $.each(prices, function(i, price) {
              if(price) {
                $containdata.push(price); //.slice = takes index 1 to 2 and return it as a new array // or /shift
              }
            });
            while($x < $chartlength){
              if(0 < $containdata.length) {
                //make temp array
                $tempdata.push($containdata.shift());
              }
              $x++;
            }

            //once you get to the end, assign that to your prevevent
            $interumlow = $tempdata[$tempdata.length-1].low;
            $interumhigh = $tempdata[$tempdata.length-1].high;
            $prevevent = $tempdata[$tempdata.length-1];
            $.each($tempdata, function(i, price) {
              if(price) {
                $chart_array.push(['day', price.low, price.close, price.open, price.high]);
                $last_id = price.id;
                $name = price.ticker;
              }
            });
            JORDANS_APP.drawSegment($chart_array, 0);
            $tempdata = [];
            $('#mymoney').val($mymoney);
          },
          error: function() {
            alert('error loading prices')
          }
        });

		$('#sell').on('click',function(){
          var order = {
            name: $name,
            id: $last_id,
            need: $need,
          };

            $.ajax({
              type: 'POST',
              url: '/orders',
              data: order,//order,
              beforeSend: function (xhr) {
                $shortme = true;
                $y = true;
                while($y){
                  //if ($containdata.length <= 77 && $containdata.length >= 1 ){
                  //alert("length: " + $containdata.length + " close: " + $containdata[0].close + " low: " + $prevevent.low + " inlow: " + $interumlow + " high: " + $prevevent.high + " inhigh: " + $interumhigh);
                  //}
                  if(0 < $containdata.length) {
                    //If candidate's close is lower than previous event's low and candidate closes below interum low then
                    if ($containdata[0].close < $prevevent.low && $containdata[0].close < $interumlow){
                      //this is a new low
                      $oldclose = $prevevent.close;
                      $interumlow = $containdata[0].low;
                      $interumhigh = $containdata[0].high;
                      $prevevent = $containdata[0];
                      $y = false;
                      xhr.abort();
                    } //else if candidate's close is higher than previous event's high and candidate closes above interum high then
                    else if ($containdata[0].close > $prevevent.high && $containdata[0].close > $interumhigh){
                      //this is a new high
                      $oldclose = $prevevent.close;
                      $interumlow = $containdata[0].low;
                      $interumhigh = $containdata[0].high;
                      $prevevent = $containdata[0];
                      $y = false;
                      xhr.abort();
                    } //endif

                    //check for interumlow, and interum high
                    if($containdata[0].low < $interumlow){
                      $interumlow = $containdata[0].low;
                    }
                    if($containdata[0].high > $interumhigh){
                        $interumhigh = $containdata[0].high;
                    }
                    //make temp array
                    $tempdata.push($containdata.shift());
                  }
                  else{
                    //ajax call to get more.
                    $y = false;
                    //alert($containdata.length);
                    //alert('Getting more data!');
                  }
                }
                $extras = ($chart_array.length - $tempdata.length);
                if($tempdata.length > 0){
                  $.each($tempdata, function(i, price) {
                    if(price) {
                      $chart_array.push(['day', price.low, price.close, price.open, price.high]);
                      $last_id = price.id;
                      $name = price.ticker;
                    }
                  });
                  while($chart_array.length > $chartlength){
                    tempvar = $chart_array.shift();
                  }
                  //$oldchart = $chart_array.slice(0, $extras);
                  //$newchart = $chart_array.slice($extras, $chart_array.length);
                  //drawChart($chart_array);
                  //JORDANS_APP.drawSegment($newchart, 0);
                  JORDANS_APP.drawSegment($chart_array, $extras);
                  $tempdata = [];

                  $mymoney = parseFloat($('#mymoney').val());
                  if($oldclose > $prevevent.close && $shortme == true){
                    $('#mymoney').val($mymoney + (($oldclose - $prevevent.close) * $percentage * $mymoney * $leverage));
                    $('#badimg').hide();
                    $('#goodimg').show();
                  }
                  else if($oldclose > $prevevent.close && $shortme == false){
                    $('#mymoney').val($mymoney -  (($oldclose - $prevevent.close) * $percentage * $mymoney * $leverage));
                    $('#badimg').show();
                    $('#goodimg').hide();
                  }
                  else if($oldclose < $prevevent.close && $shortme == true){
                    $('#mymoney').val($mymoney -  (($prevevent.close - $oldclose) * $percentage * $mymoney * $leverage));
                    $('#badimg').show();
                    $('#goodimg').hide();
                  }
                  else if($oldclose < $prevevent.close && $shortme == false){
                    $('#mymoney').val($mymoney +  (($prevevent.close - $oldclose) * $percentage * $mymoney * $leverage));
                    $('#badimg').hide();
                    $('#goodimg').show();
                  }
                }
              },
              success: function(prices) {
                $.each(prices, function(i, price) {
                  if(price) {
                    $containdata.push(price); //.slice = takes index 1 to 2 and return it as a new array // or /shift
                  }
                });
                //alert($containdata.length);
                //alert(order.id);

                $y = true;
                while($y){
                  if(0 < $containdata.length) {

                    //If candidate's close is lower than previous event's low and candidate closes below interum low then
                    if ($containdata[0].close < $prevevent.low && $containdata[0].close < $interumlow){
                      //this is a new low
                      $oldclose = $prevevent.close;
                      $interumlow = $containdata[0].low;
                      $interumhigh = $containdata[0].high;
                      $prevevent = $containdata[0];
                      $y = false;
                    } //else if candidate's close is higher than previous event's high and candidate closes above interum high then
                    else if ($containdata[0].close > $prevevent.high && $containdata[0].close > $interumhigh){
                      //this is a new high
                      $oldclose = $prevevent.close;
                      $interumlow = $containdata[0].low;
                      $interumhigh = $containdata[0].high;
                      $prevevent = $containdata[0];
                      $y = false;
                    } //endif

                    //check for interumlow, and interum high
                    if($containdata[0].low < $interumlow){
                      $interumlow = $containdata[0].low;
                    }
                    if($containdata[0].high > $interumhigh){
                        $interumhigh = $containdata[0].high;
                    }

                    //make temp array
                    $tempdata.push($containdata.shift());

                  }
                  else{
                    //ajax call to get more.
                    $y = false;
                    alert('you win? No more stock data!');
                  }
                }
                $extras = ($chart_array.length - $tempdata.length);
                if($tempdata.length > 0){
                  $.each($tempdata, function(i, price) {
                    if(price) {
                      $chart_array.push(['day', price.low, price.close, price.open, price.high]);
                      $last_id = price.id;
                      //alert($last_id);
                      $name = price.ticker;
                    }
                  });
                  while($chart_array.length >$chartlength){
                    tempvar = $chart_array.shift();
                  }

                  //drawChart($chart_array);
                  JORDANS_APP.drawSegment($chart_array, $extras);
                  $tempdata = [];
                  $mymoney = parseFloat($('#mymoney').val());
                  if($oldclose > $prevevent.close && $shortme == true){
                    $('#mymoney').val($mymoney + (($oldclose - $prevevent.close) * $percentage * $mymoney * $leverage));
                    $('#badimg').hide();
                    $('#goodimg').show();
                  }
                  else if($oldclose > $prevevent.close && $shortme == false){
                    $('#mymoney').val($mymoney -  (($oldclose - $prevevent.close) * $percentage * $mymoney * $leverage));
                    $('#badimg').show();
                    $('#goodimg').hide();
                  }
                  else if($oldclose < $prevevent.close && $shortme == true){
                    $('#mymoney').val($mymoney -  (($prevevent.close - $oldclose) * $percentage * $mymoney * $leverage));
                    $('#badimg').show();
                    $('#goodimg').hide();
                  }
                  else if($oldclose < $prevevent.close && $shortme == false){
                    $('#mymoney').val($mymoney +  (($prevevent.close - $oldclose) * $percentage * $mymoney * $leverage));
                    $('#badimg').hide();
                    $('#goodimg').show();
                  }
                }
              },

              error: function() {
                alert('error saving order' + order.id);
              }
            });
        });


































      $('#buy').on('click',function(){
        var order = {
          name: $name,
          id: $last_id,
          need: $need,
        };

          $.ajax({
            type: 'POST',
            url: '/orders',
            data: order,//order,
            beforeSend: function (xhr) {
              $shortme = false;
              $y = true;
              while($y){
                //if ($containdata.length <= 77 && $containdata.length >= 1 ){
                //alert("length: " + $containdata.length + " close: " + $containdata[0].close + " low: " + $prevevent.low + " inlow: " + $interumlow + " high: " + $prevevent.high + " inhigh: " + $interumhigh);
                //}
                if(0 < $containdata.length) {
                  //If candidate's close is lower than previous event's low and candidate closes below interum low then
                  if ($containdata[0].close < $prevevent.low && $containdata[0].close < $interumlow){
                    //this is a new low
                    $oldclose = $prevevent.close;
                    $interumlow = $containdata[0].low;
                    $interumhigh = $containdata[0].high;
                    $prevevent = $containdata[0];
                    $y = false;
                    xhr.abort();
                  } //else if candidate's close is higher than previous event's high and candidate closes above interum high then
                  else if ($containdata[0].close > $prevevent.high && $containdata[0].close > $interumhigh){
                    //this is a new high
                    $oldclose = $prevevent.close;
                    $interumlow = $containdata[0].low;
                    $interumhigh = $containdata[0].high;
                    $prevevent = $containdata[0];
                    $y = false;
                    xhr.abort();
                  } //endif

                  //check for interumlow, and interum high
                  if($containdata[0].low < $interumlow){
                    $interumlow = $containdata[0].low;
                  }
                  if($containdata[0].high > $interumhigh){
                      $interumhigh = $containdata[0].high;
                  }
                  //make temp array
                  $tempdata.push($containdata.shift());
                }
                else{
                  //ajax call to get more.
                  $y = false;
                  //alert($containdata.length);
                  //alert('Getting more data!');
                }
              }
              $extras = ($chart_array.length - $tempdata.length);
              if($tempdata.length > 0){
                $.each($tempdata, function(i, price) {
                  if(price) {
                    $chart_array.push(['day', price.low, price.close, price.open, price.high]);
                    $last_id = price.id;
                    $name = price.ticker;
                  }
                });
                while($chart_array.length > $chartlength){
                  tempvar = $chart_array.shift();
                }
                //$oldchart = $chart_array.slice(0, $extras);
                //$newchart = $chart_array.slice($extras, $chart_array.length);
                //drawChart($chart_array);
                //JORDANS_APP.drawSegment($newchart, 0);
                JORDANS_APP.drawSegment($chart_array, $extras);
                $tempdata = [];
                $mymoney = parseFloat($('#mymoney').val());
                if($oldclose > $prevevent.close && $shortme == true){
                  $('#mymoney').val($mymoney + (($oldclose - $prevevent.close) * $percentage * $mymoney * $leverage));
                  $('#badimg').hide();
                  $('#goodimg').show();
                }
                else if($oldclose > $prevevent.close && $shortme == false){
                  $('#mymoney').val($mymoney -  (($oldclose - $prevevent.close) * $percentage * $mymoney * $leverage));
                  $('#badimg').show();
                  $('#goodimg').hide();
                }
                else if($oldclose < $prevevent.close && $shortme == true){
                  $('#mymoney').val($mymoney -  (($prevevent.close - $oldclose) * $percentage * $mymoney * $leverage));
                  $('#badimg').show();
                  $('#goodimg').hide();
                }
                else if($oldclose < $prevevent.close && $shortme == false){
                  $('#mymoney').val($mymoney +  (($prevevent.close - $oldclose) * $percentage * $mymoney * $leverage));
                  $('#badimg').hide();
                  $('#goodimg').show();
                }
              }
            },
            success: function(prices) {
              $.each(prices, function(i, price) {
                if(price) {
                  $containdata.push(price); //.slice = takes index 1 to 2 and return it as a new array // or /shift
                }
              });
              //alert($containdata.length);
              //alert(order.id);

              $y = true;
              while($y){
                if(0 < $containdata.length) {

                  //If candidate's close is lower than previous event's low and candidate closes below interum low then
                  if ($containdata[0].close < $prevevent.low && $containdata[0].close < $interumlow){
                    //this is a new low
                    $oldclose = $prevevent.close;
                    $interumlow = $containdata[0].low;
                    $interumhigh = $containdata[0].high;
                    $prevevent = $containdata[0];
                    $y = false;
                  } //else if candidate's close is higher than previous event's high and candidate closes above interum high then
                  else if ($containdata[0].close > $prevevent.high && $containdata[0].close > $interumhigh){
                    //this is a new high
                    $oldclose = $prevevent.close;
                    $interumlow = $containdata[0].low;
                    $interumhigh = $containdata[0].high;
                    $prevevent = $containdata[0];
                    $y = false;
                  } //endif

                  //check for interumlow, and interum high
                  if($containdata[0].low < $interumlow){
                    $interumlow = $containdata[0].low;
                  }
                  if($containdata[0].high > $interumhigh){
                      $interumhigh = $containdata[0].high;
                  }

                  //make temp array
                  $tempdata.push($containdata.shift());

                }
                else{
                  //ajax call to get more.
                  $y = false;
                  alert('you win? No more stock data!');
                }
              }
              $extras = ($chart_array.length - $tempdata.length);
              if($tempdata.length > 0){
                $.each($tempdata, function(i, price) {
                  if(price) {
                    $chart_array.push(['day', price.low, price.close, price.open, price.high]);
                    $last_id = price.id;
                    //alert($last_id);
                    $name = price.ticker;
                  }
                });
                while($chart_array.length >$chartlength){
                  tempvar = $chart_array.shift();
                }

                //drawChart($chart_array);
                JORDANS_APP.drawSegment($chart_array, $extras);
                $tempdata = [];

                $mymoney = parseFloat($('#mymoney').val());
                if($oldclose > $prevevent.close && $shortme == true){
                  $('#mymoney').val($mymoney + (($oldclose - $prevevent.close) * $percentage * $mymoney * $leverage));
                  $('#badimg').hide();
                  $('#goodimg').show();
                }
                else if($oldclose > $prevevent.close && $shortme == false){
                  $('#mymoney').val($mymoney -  (($oldclose - $prevevent.close) * $percentage * $mymoney * $leverage));
                  $('#badimg').show();
                  $('#goodimg').hide();
                }
                else if($oldclose < $prevevent.close && $shortme == true){
                  $('#mymoney').val($mymoney -  (($prevevent.close - $oldclose) * $percentage * $mymoney * $leverage));
                  $('#badimg').show();
                  $('#goodimg').hide();
                }
                else if($oldclose < $prevevent.close && $shortme == false){
                  $('#mymoney').val($mymoney +  (($prevevent.close - $oldclose) * $percentage * $mymoney * $leverage));
                  $('#badimg').hide();
                  $('#goodimg').show();
                }
              }
            },

            error: function() {
              alert('error saving order' + order.id);
            }
          });
        });

        $("#mymoney").keyup(function(event){
          if(event.keyCode == 40){
            $("#sell").click();
          }
        });

        $("#mymoney").keyup(function(event){
          if(event.keyCode == 38){
            $("#buy").click();
          }
        });

      }




      function drawChart(chart_data) {
        var data = google.visualization.arrayToDataTable(chart_data, true);
          //[
          //[ days[2], lows[2], closes[2], opens[2], highs[2]],
          //['Thu', 50, 76, 66, 77],
          //['Fri', 62, 66, 76, 80]
          // Treat first row as data as well.
        //], true);

        var options = {
          legend:'none'
        };

        var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
  </script>
<!--  </head>
  <body>-->
<div id="chart_div" style="width: 900px; height: 500px;"></div>

<!--
<ul id="orders">
  <li>name, drink</li>
</ul>

<h4>add a order</h4>

<p>Name: <input type="text" id="name"></p>
<p>Drink: <input type="text" id="last_id"></p>
-->
<button id="sell" class="btn btn-default btn-lg btn-primary">Short</button>

<button id="buy" class="btn btn-default btn-lg btn-primary">Long</button>








































  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
<%= link_to "Prices", prices_path, class: 'btn btn-default btn-lg', "data-no-turbolink"=>"true" %>



<!--  </body>
</html>
-->
